<span class="ah-combobox-tag"><span class="ah-combobox-tag-text">{{label}}</span><span class="ah-combobox-tag-close" data-value="{{value}}" role="button" aria-label="{{txt_remove}}">&times;</span></span>
