{{#items}}{{#sep}}<div class="ah-dg-column-menu-separator" role="separator"></div>{{/sep}}{{#heading}}<div class="ah-dg-column-menu-heading" role="presentation">{{heading}}</div>{{/heading}}{{#action}}<div class="ah-dg-column-menu-item" role="{{role}}" tabindex="-1" data-action="{{action}}" data-field="{{field}}"{{#checkable}} aria-checked="{{checked}}"{{/checkable}}><span class="ah-dg-column-menu-mark" aria-hidden="true">{{mark}}</span>{{label}}</div>{{/action}}{{/items}}
