<div class="ah-dl-context-menu" role="menu" style="left:{{x}}px;top:{{y}}px;">{{#items}}{{#divider}}<div class="ah-dl-menu-divider" role="separator"></div>{{/divider}}{{^divider}}<div class="ah-dl-menu-item{{#disabled}} ah-dl-menu-item-disabled{{/disabled}}" role="menuitem" tabindex="-1" data-action="{{action}}"{{#disabled}} aria-disabled="true"{{/disabled}}>{{label}}</div>{{/divider}}{{/items}}</div>
