{{! A group frame of a node graph. View: id, title, style (transform, size, colour), editable. }}<div class="ah-node-graph-group" data-group-id="{{id}}" style="{{style}}"><div class="ah-node-graph-group-header"><span class="ah-node-graph-group-title">{{title}}</span>{{#editable}}<button class="ah-node-graph-group-delete" type="button" aria-label="Delete group" title="Delete group frame (nodes stay)">&times;</button>{{/editable}}</div>{{#editable}}<span class="ah-node-graph-group-resize"></span>{{/editable}}</div>
