{{! The content of a node graph minimap. View: nodes [{selected, style}], view (style of the viewport box). }}{{#nodes}}<span class="ah-node-graph-minimap-node"{{#selected}} data-selected="true"{{/selected}} style="{{style}}"></span>{{/nodes}}<span class="ah-node-graph-minimap-view" style="{{view}}"></span>
