{{! The items of a node graph context menu. View: items [{index, label, danger, has_hint, hint}]. }}{{#items}}<button class="ah-node-graph-ctxmenu-item" type="button" role="menuitem" tabindex="-1" data-index="{{index}}"{{#danger}} data-danger="true"{{/danger}}><span>{{label}}</span>{{#has_hint}}<span class="ah-node-graph-ctxmenu-hint">{{hint}}</span>{{/has_hint}}</button>{{/items}}
