{{#zones}}<div class="ah-pg-zone ah-pg-zone-{{zone}}" data-zone="{{zone}}" role="group" aria-label="{{label}}"><span class="ah-pg-zone-label">{{label}}</span>{{#chips}}<span class="ah-pg-chip" id="{{id}}" role="button" tabindex="0" draggable="true" aria-haspopup="menu" data-zone="{{zone}}" data-index="{{index}}" data-field="{{field}}">{{label}}</span>{{/chips}}{{^chips}}<span class="ah-pg-zone-empty">{{empty}}</span>{{/chips}}</div>{{/zones}}
