<span class="ah-chip ah-tag-input__chip" data-variant="{{variant}}" data-color="{{color}}" data-size="small" data-index="{{index}}"><span class="ah-chip__label">{{label}}</span><button type="button" class="ah-chip__delete" tabindex="-1" aria-label="{{txt_remove}}"{{#disabled}} disabled{{/disabled}}>&times;</button></span>
