<div class="ah-tl-tab{{#selected}} ah-tl-tab-selected{{/selected}}" role="tab" id="{{dom_id}}" data-tab-id="{{id}}" data-modifiers="{{modifiers}}" aria-controls="{{panel_id}}" aria-selected="{{aria_selected}}" tabindex="{{tabindex}}"><span class="ah-tl-tab-label">{{label}}</span>{{#close}}<span class="ah-tl-tab-close" aria-hidden="true">&times;</span>{{/close}}</div>
