{{#numbers}}<text class="ah-timepicker-number{{#inner}} ah-timepicker-number-inner{{/inner}}{{#selected}} ah-timepicker-number-selected{{/selected}}{{#disabled}} ah-timepicker-number-disabled{{/disabled}}" x="{{x}}" y="{{y}}" data-val="{{val}}">{{label}}</text>{{/numbers}}
