    {{+ items.current }}
      <li><strong>{{ items.name }}</strong></li>
      <li> 中文 </li>
      {{!这里是注释}}
    {{/ items.current }}

    {{+ link}}
      <li><a href="{{url}}">{{name}}</a></li>
      {{- not_found}}
        <li>此处应该显示</li>
      {{/ not_found}}
      {{+ not_found}}
        <li>此处应不该显示</li>
      {{/ not_found}}
    {{/ link}}

