<h1>{{header}}</h1>
{{#list}}
  <ul>
  {{#items}}
    {{> item}}   
  {{/items}}
  </ul>
{{/list}}
{{#empty}}
  <p>The list is empty.</p>
{{/empty}}

<div>
  {{> shared/user}}
</div>
<div>
  {{> shared/level}}
</div>

|
{{#boolean}}
{{/boolean}}
|