<h1>{{header}}</h1>
{{#list}}
  <ul>
  {{#items}}
    {{> _item}}   
  {{/items}}
  </ul>
{{/list}}
{{#empty}}
  <p>The list is empty.</p>
{{/empty}}


  {{data}}  {{> partial}}
|
{{#boolean}}
{{/boolean}}
|